$primary-color-blue: #3077c6;
$secondary-color-blue: #10367c;
$primary-color-white: #ffffff;
$secondary-background-color: #eaf0f9;
$secondary-btn-color: #f3f3f4;
$primary-text-color: #383838;
$secondary-text-color: #bfbfbf;
$primary-color-yellow: #f5bd41;
$font-size-title: 50px;
$font-size-title-resp: calc(30px + 20 * (100vw / 1232));
$font-size-subtitle: 40px;
$font-size-subtitle-resp: calc(28px + 12 * (100vw / 1232));
$font-size-big: 24px;
$font-size-big-resp: calc(18px + 6 * (100vw / 1232));
$font-size-normal: 18px;
$font-size-small: 14px;
$breakpoint-xxl: 1232px;
$breakpoint-xl: 1024px;
$breakpoint-lg: 768px;
$breakpoint-md: 600px;
$breakpoint-sm: 480px;
$container-padding: 32px;
$max-width: 1232px + $container-padding;
$min-width: 360px;
$calendar-item-width: calc(100% / 7);
