@font-face {
  font-family: "roboto";
  src: local("roboto"), local("Roboto"),
    url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: local("roboto"), local("Roboto"),
    url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}